.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 50px;
    justify-items: center;
}
.cell{
    height: 400px;
    width: 300px;
    background-color:blue;
}